footer {
    background-color: #faf9f8;
    .legal {
        p {
            font-size: 10px;
            font-weight: 300;
            color: #333;
        }
        padding: 30px 40px;
        font-size: 10px;
        color: #333;
        font-weight: 300;

        .disclaimer {
            font-size: 8px;
            display: block;
            margin-top: 10px;
        }

        a {
            color: #333;
            text-decoration: none;
            border-right: 1px solid #333;
            margin-right: 5px;
            padding-right: 8px;

            &:hover {
                text-decoration: underline;
            }

            &:last-child {
                border: none;
                margin: 0;
                padding: 0;
            }
        }
    }
}
