$white: white;
$light-gray: #f2f4f8;
$light-blue: #dde1e6;
$light-white: #e0e0e0;
$gray: #525252;
$black: #161616;
$red: #f74444;
$green: #50c878;
$expired: #fff1f1;
$font: 'IBM Plex Sans', sans-serif;
