body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
    background: url(../Examples/images/sun.png) top left/10% no-repeat ,
    url(../Examples/images/grass.png) center center/cover fixed,
    url(../Examples/images/pisa.jpeg) center right/cover fixed ;
}

p {
    opacity: 0%;
}


h1 {
    opacity: 0%;
}
