body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #333;

    margin: 0;
}

div {
    border: 1px solid blue;
    width: 85%;
    margin: 20px;
    text-align: center;
}

img {
    width: 20%;
    border: 2px solid #333;
    padding: 20px;
    margin: 1em;
    background-color: pink;
}