// Variables
$color1: #eee;
$color2: #333;
$color3: orangered;

$font1: "Tahoma, sans-serif";
$font2: "Courier, monospace";

@mixin spacing($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

body {
    @include spacing(0, 0);
    background-color: $color1;
    color: $color2;
    font-family: $font1;
}

div {
    @include spacing(0 0 1em 0, 0);
    background: $color3;
    height: 20px;
    color: $color1;
    &::after {
        content: " <div>";
    }
}

// While Loop

$num: 8;

@while $num > 0 {
    .col-#{$num} {
        &::before {
            content: "#{$num} - ";
        }
    }

    $num: $num - 1;
}
