$orange: orangered;
$lavender: lavender;
$black: #333;
$arial: "Arial, sans-serif";
$font1: "Tahoma, sans-serif";

body {
    background-color: $lavender;
    color: $orange;
    font-family: $arial;
}

h1 {
    color: $black;
}

a {
    font-family: $font1;
}

article {
    border: 2px solid $orange;
    margin: 1em;
}
