@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .add-tasks {
        flex-direction: column !important;

        & > *:not(:last-child) {
            margin-bottom: 10px !important;
        }
    }

    p {
        font-size: 12px;
    }

    h2 {
        font-size: 18px;
    }

    .line-logo {
        top: 45% !important;
        width: 35% !important;
        left: 35% !important;
    }

    .main {
        img {
            display: none;
        }
    }

    .modal {
        .modal-content {
            width: 80%;
        }
    }

    #date {
        padding-top: 10px;
    }

    #due-date {
        max-width: 100% !important;
    }

    .task {
        width: 85%;
        display: block;
    }

    .top-bar {
        padding: 10px 40px !important;
    }
    ul {
        li {
            .date {
                display: block;
                margin-bottom: 5px;
            }
            .category {
                margin-left: 0px !important;
            }
        }
    }
}
