body {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    color: #333;

    background-color: #ddd;
    background-image: url(../../Examples/images/butterfly.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 25%;

}